* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

body{
    background-color: purple;
}

ul.menu {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

ul.menu span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
}

ul.menu img {
    max-width: 150px;
    max-height: 300px;
    width: auto;
    height: auto;
}

ul.menu li {
    width: 300px;
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
    padding: 10px;
    transition: 0.3s;
    list-style-type: none;
    list-style: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

ul.menu a {
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

ul.menu a:hover {
    color: purple;
}

.areaaluno {
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgb(128, 0, 128);
}

.areaaluno:hover {
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgb(221, 160, 221);
}

.curso {
    text-align: center;
    padding: 30px 0;

}

.curso span {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.cardcontainer {
    display: flex;
}

.card {
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5%;
    text-align: center;
    img {
        height: auto;
        width: auto;
        max-height: 200px;
    }
}

.cardespaco {
    padding-left: 40px;
}

.cardespaco1 {
    padding-left: 200px;
}

.cardespaco2 {
    padding-left: 390px;
}

.plano-nome {
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
}

.plano-valor {
    font-size: 38px;
    color: black;
    font-weight: bold;
}

.plano-descricao {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: grey;
    li {

        list-style: none;
    }
}

.plano-comprar {
    height: auto;
    width:  auto;
    border-radius: 5%;
    color: black;
    font-size: 25px;
    overflow: hidden;
}

.plano-comprar span{
    max-width: 500px;
    max-height: 600px;
    height: 100%;
    width: 100%; 
    color: white;
    background-color: rgb(128, 0, 128);
}

.plano-comprar span:hover{
    border: 2px solid white;
    border-radius: 20%;
    background-color: rgb(221, 160, 221);
}

.vfx{
    padding-top: 50px;
}

.vfxbackground {
    height: auto;
    width: 1550px;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.vfxdata {
    height: 700px;
    width: 500px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 520px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.vfxlistadeespera {
    height: 50px;
    width: 200px;
    border-radius: 5%;
    background-color: purple;
    color: white;
    position: absolute;
    top: 530px;
    left: 670px;
    font-size: 25px;
}

.vfxlistadeespera span {
    font-weight: bold;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

.container_sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card1{
    width: auto;
    height: auto;
    border: 1px solid white;
    img {
        height: auto;
        width: auto;
        max-height: 500px;
    }
}

.card2{
    width: 685px;
    padding: 0 20px;
    font-size: 23px;
    font-weight: lighter;
    text-align: justify;
    height: auto;
    background-color: white;
}

.comprar{
    padding-left: 240px;
    text-decoration:underline;   
    color: white;
}

.comprar span{
    background-color: purple;
}
