* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}


ul.menu {
    border-bottom: 3px solid white;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 20px;

}

ul.menu span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
}

ul.menu img {
    max-width: 150px;
    max-height: 300px;
    width: auto;
    height: auto;
}

ul.menu li {
    width: 300px;
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
    padding: 10px;
    transition: 0.3s;
    list-style-type: none;
    list-style: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

ul.menu a:hover {
    color: purple;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.areaaluno {
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgb(128, 0, 128);
}

.areaaluno:hover {
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgb(221, 160, 221);
}

.curso {
    text-align: center;
    padding: 35px 0;

}

.curso span {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.card1 {
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: 200px;
    bottom: 50px;
    justify-content: space-around;
    border-radius: 5%;
    text-align: center;

    img {
        height: auto;
        width: auto;
        max-height: 200px;
    }
}

.card2 {
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: 600px;
    bottom: 50px;
    justify-content: space-around;
    border-radius: 5%;
    text-align: center;

    img {
        height: auto;
        width: auto;
        max-height: 200px;
    }
}

.card3 {
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    right: 200px;
    bottom: 50px;
    justify-content: space-around;
    border-radius: 5%;
    text-align: center;

    img {
        height: auto;
        width: auto;
        max-height: 200px;
    }
}

.plano-nome {
    position: absolute;
    top: 210px;
    padding: 1px 5px;
    font-size: 20px;
    font-weight: bold;
}

.plano-valor {
    position: absolute;
    top: 255px;
    font-size: 38px;
    color: black;
    font-weight: bold;
}

.plano-descricao {
    text-decoration: none;
    position: absolute;
    top: 300px;
    font-size: 20px;
    font-weight: lighter;
    color: grey;

    li {

        list-style: none;
    }
}

.plano-comprar {
    height: 50px;
    width: 200px;
    border-radius: 5%;
    background-color: purple;
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 25px;
}

.plano-comprar span {
    position: absolute;
    left: 55px;
    bottom: 15px;
}

.vfx {
    padding-top: 500px;
}

.vfxbackground {
    height: auto;
    width: auto;
    max-height: 100%;
    overflow: hidden;
}

.vfxdata {
    height: auto;
    width: auto;
    max-height: 450px;
    position: absolute;
    top: 800px;
    left: 350px;
}

.vfxlistadeespera {
    height: 50px;
    width: 200px;
    border-radius: 5%;
    background-color: purple;
    color: white;
    position: absolute;
    top: 1300px;
    left: 650px;
    font-size: 25px;
}

.vfxlistadeespera span {
    position: absolute;
    left: 40px;
    bottom: 15px;
}