*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

input{
    width: 200px;
}

#exit, #exit2, #exit3{
    background-color: yellow;
    width: 300px;
    height: 30px;
}
